
  <div class="page-header">
    <h1>Log In!</h1>

  </div>
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-lg-6">


      <!-- show any messages that come back with authentication -->
      <% if (message.length > 0) { %>
        <div class="alert alert-danger">
          <%= message %>
        </div>
        <% } %>


      <a class="btn btn-primary btn-lg" href="/auth/google"><span class="fa fa-google-plus"></span> Login using Google</a>



    </div>
    <div class="col-xs-12 col-sm-6 col-lg-6">
      
      <p>
        We use Google's OpenID Connect to verify that this is really you. We do not store passwords in any form, making our service secure and safe.
      </p>
    </div>


  </div>
<hr>
