<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Ext.</th>
      <th>Would Recommend</th>
      <th>Staff</th>
      <th>Care Received</th>
      <th>Discharge Needs Met</th>
      <th>Comments</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
