html, body {
  margin: 0;
  padding: 0;
}
header {
  background-color: #eee;
}
h1 {
  text-transform: uppercase;
  margin: 0;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  text-align: left;
}
q {
  font-style: italic;
  color: #999;
}
.star {
  color:#fd0;
}