
<footer class="footer">
<p>
<span>
<a href="/">Guardian Review Software - Guard Your Reputation</a>
</span>
<span class="pull-right">
<a href="/terms">Terms of Use</a> | <a href="/faq">FAQ</a> | <a href="/contact">Contact</a>
</span>
</p>
</footer>
