<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-5" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img class="logo-header" src="/img/guardian-icon.png" alt="Guardian Review Software"> Guardian Review Software</a> </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
      <ul class="nav navbar-nav">
        <% if(typeof session.user !== 'undefined') {%>
        <li class=""><a href="/dashboard">Dashboard <span class="sr-only">(current)</span></a></li>
        <% }
         if(typeof session.user_type !== 'undefined' && session.user_type === 'admin') { %>
          <li class=""><a href="/admin">Admin <span class="sr-only">(current)</span></a></li>
          <% } %>
      </ul>
      <% if(typeof session.user !== 'undefined') {%>
      <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link"><%= session.email %></a> | <a href="/logout" class="navbar-link">Logout</a></p>
      <% } else { %>
        <div class="navbar-right">
          <a href="/signup"><button type="button" class="btn-primary btn btn-default navbar-btn">Signup</button><a/>
          <a href="/auth/google"><button  ype="button" class="btn btn-default navbar-btn " href="/auth/google"><span class="fa fa-google-plus"></span> Login</button></a></div>

        <% } %>
    </div>
  </div>
</nav>
